// VARIABLES

// COLORS
$white: #fff;
$sliver: #777;
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$light-gray: #ccc;

// Button Colors
$error_btn: #e4757a;
$info_btn: #927bc1;
$success_btn: #63cc82;
$warning_btn: #fd7856;

// Media Queries

$breakpoint: 768px;
