// BUTTON

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $secondary-color;
}

.error {
  background-color: $error_btn;
}

.info {
  background-color: $info_btn;
}

.success {
  background-color: $success_btn;
}

.warning {
  background-color: $warning_btn;
}
